{% extends 'base.html' %}

{% block title %}Add Recipe {% endblock %}


{% block main_container %}
<body>

    <h2>Add Recipe</h2>

    <form id="recipeForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <div id="category_container">
            <label>Categories:</label>
            <ul id="categoryList">
                <li><input type="text" name="categories[]" required></li>
            </ul>
            <button type="button" onclick="addInput('categoryList')">+</button>
        </div><br>

        <div id="ingredients_container">
            <label>Ingredients:</label>
            <ul id="ingredientsList">
                <li><input type="text" name="ingredients[]" required></li>
            </ul>
            <button type="button" onclick="addInput('ingredientsList')">+</button>
        </div><br>

        <div id="instructions_container">
            <label>Instructions:</label>
            <ul id="instructionsList">
                <li><input type="text" name="instructions[]" required></li>
            </ul>
            <button type="button" onclick="addInput('instructionsList')">+</button>
        </div><br>

        <form id="recipeForm">
            <h3>Image Upload</h3>
            <div id="file_manager">
                <label for="recipePhoto">Upload Recipe Photo:</label>
                <input type="file" accept="image/*" capture="environment" name="recipePhoto" id="recipePhoto">
                <button type="button" onclick="uploadRecipePhoto()">Submit</button>
                <br>
                <textarea id="recipeResult" rows="10" cols="50"></textarea>
            </div>
    
        </form>

        <button type="button" onclick="addRecipe()">Add Recipe</button>
    
        <div id="messageContainer"></div>
    </form>



<script>
    function addInput(containerId) {
        const container = document.getElementById(containerId);
        const newInput = document.createElement('li');
        newInput.innerHTML = '<input type="text" name="' + containerId.slice(0, -4) + '[]" required>';
        container.appendChild(newInput);
    }

    async function uploadRecipePhoto() {
        var formData = new FormData();
        var fileInput = document.getElementById('recipePhoto');

        // Check if a file is selected
        if (fileInput.files.length > 0) {
            formData.append('recipePhoto', fileInput.files[0]);

            // Make a separate request to upload the photo
            const response = await fetch('/upload_recipe_file', {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                const result = await response.json();

                // Display the result in the textarea
                const textDump = result.result.map(item => item[1]).join('\n\n'); // Extract text and join with newlines
                document.getElementById('recipeResult').value = textDump;
            } else {
                console.error('Error uploading recipe photo:', response.statusText);
            }
        } else {
            console.error('No file selected.');
        }
    }
    
    function addRecipe() {
        const title = document.getElementById('title').value;
        const categories = Array.from(document.getElementsByName('categories[]'), input => input.value);
        const ingredients = Array.from(document.getElementsByName('ingredients[]'), input => input.value);
        const instructions = Array.from(document.getElementsByName('instructions[]'), input => input.value);

        const recipe = {
            title: title,
            categories: categories,
            ingredients: ingredients,
            instructions: instructions
        };

        // Make an AJAX request to your Flask backend
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/acr', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                const messageContainer = document.getElementById('messageContainer');
                if (xhr.status == 200) {
                    messageContainer.innerHTML = '<p style="color: green;">Recipe Added Successfully</p>';
                } else {
                    messageContainer.innerHTML = '<p style="color: red;">Recipe Addition Failed</p>';
                }
            }
        };
        xhr.send(JSON.stringify(recipe));
        console.log(JSON.stringify(recipe));
        // Optionally, you can clear the form after submission
        document.getElementById('recipeForm').reset();
    }
</script>
</body>

{% endblock %}