{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block main_container %}

{# Search for recipes #}
<div id="search_container">
    <h2>Search By</h2>
    <br>

    <span>Recipe Title:</span>
    <input type="text" id="title">
    
    <span>Category:</span>
    <input type="text" id="category">
    
    <br>
    
    <button id="confirm_search">Search</button>
    
    <br>

    <h2>Recipe List</h2>
    <ul id="recipe_list"></ul>

</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var searchButton = document.getElementById('confirm_search');

    searchButton.addEventListener('click', function () {
        var titleInput = document.getElementById('title').value;
        var categoryInput = document.getElementById('category').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/search_recipe', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhr.onload = function () {
            if (xhr.status === 200) {
                var recipes = JSON.parse(xhr.responseText);

                if (recipes.length === 0) {
                    alert('No recipes found!');
                } else {
                    updateRecipeList(recipes);
                }
            }
        };

        // Include the category value in the request body
        xhr.send('recipe_title=' + encodeURIComponent(titleInput) + '&category=' + encodeURIComponent(categoryInput));
    });


    // Function to update the recipe list
    function updateRecipeList(recipes) {
        // Get the recipe list element
        var recipeList = document.getElementById('recipe_list');

        // Clear the existing list
        recipeList.innerHTML = '';

        // Populate the list with the retrieved recipes
        for (var i = 0; i < recipes.length; i++) {
            // Create a list item
            var listItem = document.createElement('li');

            // Create an anchor tag with the generated URL
            var anchor = document.createElement('a');
            anchor.href = '/recipe/' + encodeURIComponent(recipes[i]);
            anchor.textContent = recipes[i];

            // Append the anchor tag to the list item
            listItem.appendChild(anchor);

            // Append the list item to the recipe list
            recipeList.appendChild(listItem);
        }
    }
});

</script>
{% endblock %}